@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-mont: Montserrat, sans-serif;

  --color-black-100: oklch(0.3703 0.0119 285.81);
  --color-black-200: oklch(0.325 0 0);
  --color-black-300: oklch(0.2621 0.0095 248.19);
  --color-black-400: oklch(0.3451 0.0133 248.21);
  --color-black-500: oklch(0.4276 0.0147 248.17);

  --color-white-100: oklch(0.8671 0.0106 247.95);
  --color-white-200: oklch(0.9816 0.0017 247.84);
  --color-white-300: oklch(0.9417 0.0052 247.88);
  --color-white-400: oklch(0.9791 0 0);
  --color-white-500: oklch(0.9109 0.007 247.9);

  --color-aqua: oklch(0.5946 0.1076 219.15);
  --color-dark-aqua: oklch(0.4812 0.0869 218.89);
  --color-dark-blue: oklch(0.2954 0.07 250.41);
  --color-blue: oklch(0.8043 0.14587145386856376 219.51511934663645);
  --color-blue-gradient-1: oklch(0.1782 0.12340072705837636 264.0539924365888);
  --color-blue-gradient-2: oklch(0.7193 0.1301 223.69);
  --color-orange: oklch(0.8229 0.12555053662670881 62.29665318385213);
  --color-dark-orange: oklch(0.7965 0.1465 61.83);
  --color-light-orange: oklch(0.8229 0.12555053662670881 62.29665318385213);
  --color-orange-red: oklch(0.7298 0.17016035097045135 37.208185857800544);

  --breakpoint-sm: 31.25rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 62rem;
  --breakpoint-xl: 75rem;
  --breakpoint-2xl: 96rem;
  --breakpoint-3xl: 125rem;
  --breakpoint-ipad-mini: 40.625rem;

  --animate-wave: wave 2.1s 0.6s infinite;
  --animate-slide-down-and-fade: slideDownAndFade 0.3s linear 1;
  --animate-slide-left-and-fade: slideLeftAndFade 0.3s linear 1;
  --animate-slide-up-and-fade: slideUpAndFade 0.3s linear 1;
  --animate-slide-right-and-fade: slideRightAndFade 0.3s linear 1;

  --shadow-dropdown: oklch(0.3396 0.0743 281.7 / 0.25) 0px 50px 100px -20px,
    oklch(0% 0 0 / 0.3) 0px 30px 60px -30px;
  --shadow-project: oklch(0.206 0.0468 252.49 / 0.4) 0px 0px 0px 2px,
    oklch(0.206 0.0468 252.49 / 0.65) 0px 4px 6px -1px,
    oklch(1 0 0 / 0.08) 0px 1px 0px inset;
  --shadow-project-dark: oklch(0.1913 0 0 / 0.4) 0px 0px 0px 2px,
    oklch(0.1913 0 0 / 0.65) 0px 4px 6px -1px,
    oklch(1 0 0 / 0.08) 0px 1px 0px inset;
  --shadow-tooltip: oklch(0.1807 0.0099 241.08 / 0.35) 0 10px 38px -10px,
    oklch(0.1807 0.0099 241.08 / 0.2) 0 10px 20px -15px;

  --background-image-orange-gradient: linear-gradient(
    to right,
    oklch(0.6898 0.1771 36.33),
    oklch(0.7819 0.1367 71.44)
  );
  --background-image-dance-to-forget: linear-gradient(
    to left,
    oklch(0.6744 0.2133 24.38),
    oklch(0.8758 0.1738 95.65)
  );
  --background-image-midnight-city: linear-gradient(
    to bottom,
    var(--color-black-200),
    var(--color-black-300)
  );

  --transition-property-background-image: background-image;
  --transition-property-top: top;

  --transform-origin-wave: 70% 70%;

  --ease-tooltip: cubic-bezier(0.16, 1, 0.3, 1);

  --will-change-tooltip: transform, opacity;

  @keyframes wave {
    0%,
    60%,
    100% {
      transform: rotate(0deg);
    }
    10%,
    30%,
    50% {
      transform: rotate(24deg);
    }
    20% {
      transform: rotate(-6deg);
    }
    40% {
      transform: rotate(-4deg);
    }
  }
  @keyframes slideDownAndFade {
    0% {
      opacity: 0;
      transform: translateY(-2px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slideLeftAndFade {
    0% {
      opacity: 0;
      transform: translateX(2px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slideUpAndFade {
    0% {
      opacity: 0;
      transform: translateY(2px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slideRightAndFade {
    0% {
      opacity: 0;
      transform: translateX(-2px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@utility about-me-text {
  @apply dark:text-white-100 text-base font-normal transition-colors duration-300 ease-out md:col-span-2 md:mb-0 md:text-lg xl:text-xl;
}

@utility dark-mode-container {
  @apply dark:mb-24 dark:md:mb-10;
}

@utility dark-blue-container {
  @apply text-white-300 relative mx-auto mb-32 size-full max-w-7xl px-4 pt-8 pr-20 sm:pr-36 md:grid md:grid-cols-3 md:place-items-start md:pr-0;
}

@utility dark-blue-gradient {
  @apply bg-dark-blue ipad-mini:h-[125%] 3xl:h-[160%] absolute -top-56 -left-[4.5rem] -z-10 h-[120%] w-[250rem] -rotate-6 transition-colors duration-300 ease-out lg:h-[135%] 2xl:h-[145%];
}

@utility dark-blue-section {
  @apply dark:bg-black-300 relative z-0;
}

@utility icon {
  @apply text-black-200 dark:text-white-500;
}

@utility navbar-text {
  @apply font-mont text-black-200 dark:text-white-400 text-base font-bold tracking-widest xl:text-xl;
}

@utility about-me-animation {
  @apply absolute top-0 right-0 size-[7rem] md:static md:-top-16 md:right-12 md:col-start-3 md:col-end-4 md:row-start-1 md:row-end-6 md:size-[10rem] md:place-self-center lg:col-start-3 lg:size-[13rem];
}

@utility navbar-gradient {
  @apply from-blue-gradient-1 to-blue-gradient-2 transition-background-image 3xl:h-[50rem] dark:from-black-300 dark:to-black-300 absolute -top-64 -left-20 -z-20 h-[20rem] w-[250rem] -rotate-6 bg-linear-to-b duration-300 ease-out md:-left-40 md:h-[31.25rem] xl:-top-80 xl:h-[37.5rem] 2xl:h-[43.75rem];
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  html {
    @apply overflow-x-hidden;
  }

  root,
  body {
    @apply bg-white-400 dark:bg-black-300 m-0 box-border overflow-x-hidden overflow-y-hidden p-0 transition-colors duration-300 ease-out;
  }

  h1 {
    @apply font-mont text-black-200 dark:text-white-300 text-2xl font-semibold transition-colors duration-300 ease-out;
  }

  h2 {
    @apply font-mont text-black-200 dark:text-white-100 text-lg font-medium transition-colors duration-300 ease-out;
  }

  a {
    @apply text-aqua dark:text-orange no-underline hover:underline hover:underline-offset-4;
  }
}

@layer components {
  .sectionHeading {
    @apply flex items-center;
  }

  .span-heading {
    @apply from-blue to-blue transition-background-image dark:bg-dance-to-forget ml-3 bg-transparent bg-linear-to-r bg-clip-text text-transparent duration-300 ease-out;
  }

  .tooltip {
    @apply bg-aqua text-white-400 hover:bg-dark-aqua dark:bg-light-orange dark:text-black-300 dark:hover:bg-orange-red inline-flex size-10 items-center justify-center rounded-full;
  }

  .white-bg-heading {
    @apply text-xl font-bold md:mb-6 md:text-3xl xl:text-4xl;
  }

  .white-sub-heading {
    @apply dark:text-white-300 mb-2 transition-colors duration-300 ease-out md:text-2xl xl:mb-4 xl:text-3xl;
  }
}
